td {border: 1px #DDD solid; padding: 5px; cursor: pointer; white-space : nowrap; text-align: center;}
th {border: 1px #DDD solid; padding: 5px; cursor: pointer; white-space : nowrap; text-align: center;}

.selected {
    background-color: brown;
    color: #FFF;
}