<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: url(../static/image/uncc.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; ">
<div align="right" style="margin: 2%"><a href="searchpage.html"><button>Home</button></a></div>
<h1 style="color: midnightblue;" align="center">Your room {{roomno}} has been booked successfully. Thank you!!</h1>

</body>
</html>